.why {

    &__pre-title {
        display: flex;
        align-items: center;

        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        text-transform: uppercase;
        color: var(--black);

        &::before {
            content: "";
            width: 60px;
            height: 1px;
            background: var(--black);
    
            margin-right: 20px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 42px;
        line-height: 1.17;
        letter-spacing: 0.05em;
        color: var(--black);

        margin-top: 20px;
    }

    &__paragraf {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.02em;
        color: rgba(85, 85, 85, 1);

        margin-top: 20px;

    }


    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 44px;
    }
      
    &__list-one {
        margin-right: 30px;
        margin-bottom: 35px;
    }

    &__list-two {
        margin-top: 35px;
    }

    &__set-wrapper {
        background-color: rgba(247, 247, 247, 1);
    }

    &__set {
        text-align: center;
        align-items: center;
        padding: 20px 32px;
        height: 93px;

        
        &:first-child {
            margin-bottom: 30px;
            width: 122px;
        }

    }
  
    &__set-number {
        font-weight: 700;
        font-size: 42px;
        line-height: 1.36;
        letter-spacing: 0.05em;
        color: var(--black);

        margin-right: 2px;
    }

    &__set-plus {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: var(--orange);
    }

    &__set-text {
        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        color: var(--black);

        margin-top: 6px;
    }

}
