body {
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    /*font-family: 'Raleway', sans-serif;*/
    max-width: 1600px;



}

body ul {
    list-style: none;

}

body a {
    text-decoration: none;
}



ul, p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

h1,
h2 {
    font-family: 'Raleway';
}

button {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--black);
    background-color: inherit;
    padding: 12px 20px;
    border: 1px solid var(--orange);
    border-radius: 25px;

}

.container {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 84px 31px;
    outline: 1px solid rgb(147, 92, 209);

    @media screen and (min-width: 1200px) {
        width: 1600px;
        padding-right: 215px;
        padding-left: 215px;

    }

    @media screen and (min-width: 768px) {
        width: 768px;
        padding-right: 39px;
        padding-left: 39px;

    }

    @media screen and (max-width: 767px) {
        max-width: 480px;

    }
}
