:root {
    --white: rgba(255, 255, 255, 1);
    --black: rgba(48, 48, 48, 1);
    --grey: rgba(157, 164, 189, 1);
    --orange: rgba(255, 108, 0, 1)
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
